.footer{
width: 100%;
background-color: darken(#1E3A8A, 16%);
}
.footwrap{
max-width: 1100px;
padding: 10px;
text-align: center;
font-size: 14px;
color: #fff;
margin: 0 auto;
@media (min-width: 1400px) {
    max-width: 1339px;
}
}