@import "../../scss/rfs.scss";

.wrap {
  background-color: #fff;
  display: block;
  border-radius: 8px;
  margin-bottom: 18px;
  padding: 10px 15px;
  &:hover {
    background-color: #ffffffb2;
  }
  .item_head {
    display: flex;
  }
  .item_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .item_logo img {
    width: 100%;
    // vertical-align: middle;
    // object-fit: scale-down;
  }
  .item_desc h3 {
    font-weight: 400;
  }
  .item_desc p {
    margin: 5px 0;
  }
  .type {
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    background-color: #0c67f0;
    font-size: .9rem;
    padding: 5px 10px;
    display: inline-block;
  }
}