.jobfilter {
    margin-bottom: 30px;
}
.heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 5px;
}
.filterlist {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.filteritem {
    border: 2px solid #969696;
    color: #5c5c5c;
    margin:5px 8px;
    border-radius: 3px;
    padding: 6px 8px;
    margin-left: 0;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
   &:hover {
       background-color: var(--sec-color);
       border-color: transparent;
       color: #fff;
   }
    &:focus {
        outline: 0;
    }
}